<script src="https://giscus.app/client.js"
        data-repo="StirMar321/podzemi-dracak"
        data-repo-id="R_kgDOM5Xvig"
        data-category="General"
        data-category-id="DIC_kwDOM5Xvis4Ci7sM"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
